/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
*{
	margin:0;
	padding: 0;
}
body{
	background-color: #44565C;
	color:#767777;
	font-size: 12px;
	font-family: "Microsoft YaHei";
}
.container{
	width: 892px;
	height: 1386px;
	margin:0 auto;
	background-color: #fff;
	padding: 0 44px;
}
.head{
	margin-bottom: 30px;
	position: relative;
}
.head .block{
	background-color: #db3e75;
	position: relative;
	width: 110px;
	height: 61px;
}
.head .block p{
	color:#fff;
	position: absolute;
	margin-left: 4px;
	bottom: 2px;
}
.head .date{
	color:#d45d5c;
	font-family: "SimHei";
	position: absolute;
	right: 0;
	bottom:4px;
}
.underline{
	border: 1px #938e8c solid;
}
.banner{
	margin-bottom: 40px;
	position: relative;
}
.banner_img{
	position: relative;
	width: 641px;
	height: 305px;
}
.cover_left,.cover_right{
	height: 301px;
	width: 191px;
	position: absolute;
	top: 0;
}
.cover_left{
	left: -19px;
	background-color: rgba(66,140,89,.5);
}
.cover_right{
	right: 0;
	background-color: rgba(204,118,128,.5);
}
.aside{
	position: absolute;
	width: 203px;
	top: 0;
	right: 0;
}
.aside hr{
	border-color: #cc8091;
}
.aside h2{
	color: #000;
	font-variant: small-caps;
	font-size: 24px;
	font-weight: normal;
	text-decoration: underline;
}
.aside>p{
	font-family: 'STKaiti';
	color: #676767;
	font-style:italic;
}
.aside .num{
	color: #75b86b;
	font-size: 116px;
	font-family: 'Microsoft YaHei';
	line-height: 136px;
	text-indent: -0.2em;
}
.aside .last{
	color: #cc8091;
	height: 60px;
	position: relative;
}
.aside .last p{
	position: absolute;
}
.aside .last .nub{
	font-size: 55px;
}
.aside .last .middle{
	font-size: 21px;
	left: 78px;
	bottom: 15px;

}
.aside .last .repeat{
	font-size: 12px;
	left: 78px;
	bottom: 0px;
}
.intro div{
	float: left;
	margin:0 28px 50px 0;
}
.intro div p{
	line-height: 16px;
	font-family: 'SimSun';
}
.intro div h2{
	font-size: 16px;
	text-decoration: underline;
	margin-bottom: 8px;
}
.intro .what{
	width: 230px;
}
.intro .what h2{
	color: #418c59;
}
.intro .when{
	width:201px;
}
.intro .when h2{
	color: #d2994f;
}
.intro .how{
	margin: 0 200px 50px 0;
	width: 140px;
}
.intro .how h2{
	color: #cc7680;
}
.intro .list{
	width: 140px;
}
.intro .list p{
	font-family: "Microsoft YaHei";
	color: #231815;
	opacity: 0.7;
	margin-bottom: 4px;
}
.intro .list p span{
	color: #cd4a48;
	font-style:italic;
}


.clearfix{
	clear: both;
}
.left_side{
	width: 415px;
	float: left;
}
.left_side .left_title p{
	color: #11456b;
	font-family: "SimHei";
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
}
.left_side .left_title p span{
	color: #f5e327;
	font-style: italic;
	font-size: 72px;
}
.left_side .left_title .small{
	font-size: 33px;
}
.left_title hr{
	border-color: #11456b;
}
.left_news{
	margin:25px 0;
}
.left_news span{
	color: #f5e327;
	font-size: 70px;
	margin-right: 15px;
	margin-top: -15px;
	float: left;
}
.left_news img{
	float: right;
	margin:15px 7px 15px 15px;
}
.left_news p{
	line-height: 16px;
}
.left_news .paragraph{
	text-indent: 2em;
}
.right_side{
	float: right;
	width: 458px;
}
.right_side .right_img{
	position: relative;
	margin-bottom: 20px;
	height: 261px;
}
.right_side .right_img .cover{
	position: absolute;
	bottom: 4px;
	background: rgba(0,0,0,.5);
	height: 60px;
	width: 458px;
	line-height: 60px;
}
.cover span{
	display: inline-block;
}
.right_side .right_img .cover .img_infor{
	line-height: 28px;
	height: 28px;
	margin:8px 0 0 38px;
	padding: 8px;
	font-size: 24px;
	color: #fff;
	border-left: 3px solid #72b16a;
}
.cover .img_infor_last{
	color: #72b16a;
	font-style: italic;
	letter-spacing:140%;
}
.right_list{
	width: 459px;
	height: 318px;
	background-color: #eeedd6;
}
.right_list ul{
	list-style: none;
	padding:30px 40px;
}
.right_list ul li .triangle{
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #10456b;
}
.right_list li{
	height: 32px;
	line-height: 33px;
}
.right_list ul li span{
	font-size: 16px;
	color: #5a5b5b;
}
.right_list .last{
	font-size: 12px;
	color: #5a5b5b;
	font-style: italic;
}
.right_list .block{
	float: left;
	width: 250px;
	height: 141px;
	background-color: #db3e75;
	color: #fff;
	padding: 10px 0 10px 10px;
}
.right_list .block span{
	float: left;
	display: inline-block;
	font-size:110px;
	width: 60px;
}
.right_list .block div{
	padding: 2px 0 10px 8px;
	float: left;
	margin: 30px 0 30px 10px;
	width: 160px;
	height: 74px;
	border-left: 2px solid #fff;
	font-family: "SimHei";
}
.right_list .block .fonts{
	font-size: 21px;
}
.right_list .information{
	float: left;
	margin-left: 15px;
	width: 160px;
}
.right_list .information p{
	margin-top: -30px;
	font-style: italic;
	font-family: "SimHei";
}
.right_list .information span{
	font-style: normal;
	font-size: 72px;
	font-family: "SimHei";
	color: #d45d5c;
	display: inline-block;
	height: 40px;
	position: relative;
}
.left_sem{
	margin-left: -40px;
	top: 35px;
}
.right_sem{
	position: absolute;
	top: -20px;
	left: 72px;
}
.final{
	font-family: "SimHei";
	color: #d45d5c;
	float: right;
}
